## ETL project: Creating a database from multiple CSV files

In [6]:
#Import necessary dependables

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
from sqlalchemy import create_engine

### Read csv file and store into pandas dataframe

In [7]:
hosp_gen_info_df = pd.read_csv("Raw-data-Hospital_General_Information.csv")
hosp_gen_info_df.head()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,...,Readmission national comparison footnote,Patient experience national comparison,Patient experience national comparison footnote,Effectiveness of care national comparison,Effectiveness of care national comparison footnote,Timeliness of care national comparison,Timeliness of care national comparison footnote,Efficient use of medical imaging national comparison,Efficient use of medical imaging national comparison footnote,Location
0,030084,CHINLE COMPREHENSIVE HEALTH CARE FACILITY,"US HWY 191, HOSPITAL ROAD",CHINLE,AZ,86503,APACHE,(928) 674-7001,Acute Care Hospitals,Government - Federal,...,NaN,Same as the national average,NaN,Below the national average,NaN,Not Available,5.0,Not Available,16.0,NaN
1,044022,CONWAY BEHAVIORAL HEALTH,2255 STURGIS ROAD,CONWAY,AR,72034,FAULKNER,(501) 205-0011,Psychiatric,Proprietary,...,19.0,Not Available,19.0,Not Available,19.0,Not Available,19.0,Not Available,19.0,NaN
2,10021F,96th Medical Group (Eglin AFB),96 MDG 307 Boatner Rd Suite 114,Eglin AFB,FL,32542,OKALOOSA,(850) 883-8600,Acute Care - Department of Defense,Department of Defense,...,22.0,Not Available,22.0,Not Available,22.0,Not Available,22.0,Not Available,22.0,NaN
3,170204,"ROCK REGIONAL HOSPITAL, LLC",3251 NORTH ROCK ROAD,DERBY,KS,67037,SEDGWICK,(833) 345-7625,Acute Care Hospitals,Proprietary,...,5.0,Not Available,5.0,Not Available,5.0,Not Available,5.0,Not Available,5.0,POINT (-97.244407 37.582147)
4,171322,HAMILTON COUNTY HOSPITAL,700 NORTH HUSER,SYRACUSE,KS,67878,HAMILTON,(620) 384-7461,Critical Access Hospitals,Government - Local,...,16.0,Not Available,16.0,Not Available,5.0,Same as the national average,NaN,Not Available,16.0,NaN

In [80]:
# View Directory
#dir()

### View the columns in the dataframe and work on removing unnesessary columns

In [8]:
hosp_gen_info_df.columns

Index(['Facility ID', 'Facility Name', 'Address', 'City', 'State', 'ZIP Code',
       'County Name', 'Phone Number', 'Hospital Type', 'Hospital Ownership',
       'Emergency Services',
       'Meets criteria for promoting interoperability of EHRs',
       'Hospital overall rating', 'Hospital overall rating footnote',
       'Mortality national comparison',
       'Mortality national comparison footnote',
       'Safety of care national comparison',
       'Safety of care national comparison footnote',
       'Readmission national comparison',
       'Readmission national comparison footnote',
       'Patient experience national comparison',
       'Patient experience national comparison footnote',
       'Effectiveness of care national comparison',
       'Effectiveness of care national comparison footnote',
       'Timeliness of care national comparison',
       'Timeliness of care national comparison footnote',
       'Efficient use of medical imaging national comparison',
       'Efficient use of medical imaging national comparison footnote',
       'Location'],
      dtype='object')

### Drop unwanted columns

In [15]:

cleaned_hosp_gen_info_df = hosp_gen_info_df[['Facility ID', 'Facility Name', 'Address', 'City', 'State', 'ZIP Code',
                                           'County Name', 'Phone Number', 'Hospital Type', 'Hospital Ownership',
                                           'Emergency Services','Meets criteria for promoting interoperability of EHRs',  
                                             'Hospital overall rating', 'Hospital overall rating footnote']]

cleaned_hosp_gen_info_df  = cleaned_hosp_gen_info_df .dropna()

### Rename remaining columns

In [16]:
cleaned_hosp_gen_info_df=cleaned_hosp_gen_info_df.rename(columns={'Facility ID':'facility_id', 'Facility Name':'facility_name', 
                                                                  'Address':'address', 'City':'city', 'State':'state',
                                                                  'ZIP Code':'zip_code','County Name':'county_name', 
                                                                  'Phone Number':'phone_no', 'Hospital Type':'hosp_type',
                                                                  'Hospital Ownership':'hosp_owner','Emergency Services':'emergency_srvc',
                                                                  'Meets criteria for promoting interoperability of EHRs':'ehr_compartibility',  
                                                                  'Hospital overall rating':'hosp_overall_rating', 
                                                                  'Hospital overall rating footnote':'hosp_overall_rating_footnote'})
    
    
        
cleaned_hosp_gen_info_df.head()

,facility_id,facility_name,address,city,state,zip_code,county_name,phone_no,hosp_type,hosp_owner,emergency_srvc,ehr_compartibility,hosp_overall_rating,hosp_overall_rating_footnote
0,030084,CHINLE COMPREHENSIVE HEALTH CARE FACILITY,"US HWY 191, HOSPITAL ROAD",CHINLE,AZ,86503,APACHE,(928) 674-7001,Acute Care Hospitals,Government - Federal,True,True,4,17.0
9,231314,MCKENZIE HEALTH SYSTEM,120 N DELAWARE STREET,SANDUSKY,MI,48471,SANILAC,(810) 648-3770,Critical Access Hospitals,Voluntary non-profit - Private,True,True,Not Available,16.0
13,370225,SUMMIT MEDICAL CENTER,1800 SOUTH RENAISSANCE BOULEVARD,EDMOND,OK,73013,OKLAHOMA,(405) 359-2400,Acute Care Hospitals,Physician,True,True,Not Available,16.0
15,390325,OSS ORTHOPAEDIC HOSPITAL,1861 POWDER MILL RD,YORK,PA,17402,YORK,(717) 718-2000,Acute Care Hospitals,Proprietary,False,True,Not Available,16.0
29,161333,STORY COUNTY HOSPITAL,640 SOUTH 19TH STREET,NEVADA,IA,50201,STORY,(515) 382-2111,Critical Access Hospitals,Government - Local,True,True,Not Available,16.0

### View the newly named columns

In [17]:
cleaned_hosp_gen_info_df.columns

Index(['facility_id', 'facility_name', 'address', 'city', 'state', 'zip_code',
       'county_name', 'phone_no', 'hosp_type', 'hosp_owner', 'emergency_srvc',
       'ehr_compartibility', 'hosp_overall_rating',
       'hosp_overall_rating_footnote'],
      dtype='object')

### Repeat the same cleanup process with the second csv file

In [67]:
#Read the csv and store into pandas dataframe


state_dud_df = pd.read_csv("RawData-State_Drug_Utilization-Data.csv")
state_dud_df.head(10)

,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,Suppression Used,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,FFSU,WI,17478,214,20.0,2010,3,ATROPINE C,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,37.7680,-78.2057,"(37.768, -78.2057)",17478021420
1,FFSU,NH,409,1165,2.0,2010,3,BUPIVACAIN,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,47.5362,-99.7930,"(47.5362, -99.793)",409116502
2,FFSU,XX,338,629,4.0,2010,4,TRAVASOL 1,164627000.0,False,29.0,27541.10,27541.10,0.00,1-Oct,10/1/2010,NaN,NaN,NaN,338062904
3,FFSU,TN,68382,99,6.0,2010,4,PAROXETINE,11157.5,False,296.0,3131.10,3105.18,25.92,1-Oct,10/1/2010,41.6772,-71.5101,"(41.6772, -71.5101)",68382009906
4,FFSU,WY,472,911,45.0,2010,4,METRONIDAZ,NaN,True,NaN,NaN,NaN,NaN,1-Oct,10/1/2010,44.0407,-72.7093,"(44.0407, -72.7093)",472091145
5,FFSU,MD,68084,87,1.0,2010,1,HYDROCHLOR,NaN,True,NaN,NaN,NaN,NaN,1-Jan,1/1/2010,42.2373,-71.5314,"(42.2373, -71.5314)",68084008701
6,FFSU,XX,39822,205,1.0,2010,2,PANCRELIPA,146005.0,False,803.0,62947.39,61645.54,1301.85,1-Apr,4/1/2010,NaN,NaN,NaN,39822020501
7,FFSU,ME,25021,107,20.0,2010,1,CEFTRIAXON,NaN,True,NaN,NaN,NaN,NaN,1-Jan,1/1/2010,39.0724,-76.7902,"(39.0724, -76.7902)",25021010720
8,FFSU,NH,62037,696,90.0,2010,1,TAZTIA XT,NaN,True,NaN,NaN,NaN,NaN,1-Jan,1/1/2010,47.5362,-99.7930,"(47.5362, -99.793)",62037069690
9,FFSU,NH,145,2367,1.0,2010,3,DUAC CS,69.0,False,69.0,11438.90,10175.59,1263.31,1-Jul,7/1/2010,47.5362,-99.7930,"(47.5362, -99.793)",145236701

In [68]:
#View columns


state_dud_df.columns

Index(['Utilization Type', 'State', 'Labeler Code', 'Product Code',
       'Package Size', 'Year', 'Quarter', 'Product Name', 'Units Reimbursed',
       'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [69]:
# Rename columns


cleaned_state_dud_df=state_dud_df[['Utilization Type', 'State', 'Labeler Code', 'Product Code',
       'Package Size', 'Year', 'Quarter', 'Product Name', 'Units Reimbursed',
       'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC']]
cleaned_state_dud_df=cleaned_state_dud_df.rename(columns={'Utilization Type':'utilization_type', 'State':'state', 
                                                          'Labeler Code':'labeler_code', 'Product Code':'product_code',
                                                          'Package Size':'package_size', 'Year':'year', 'Quarter':'quarter',
                                                          'Product Name':'product_name', 'Units Reimbursed':'units_reimbursed',
                                                          'Suppression Used':'med_data_suppresion', 
                                                          'Number of Prescriptions':'no_of_prescriptions',
                                                          'Total Amount Reimbursed':'total_amt_reimbursed', 
                                                          'Medicaid Amount Reimbursed':'medicaid_amt_reimbursed',
                                                          'Non Medicaid Amount Reimbursed':'non_medicaid_amt_reimbursed', 
                                                          'Quarter Begin':'quarter_begin', 
                                                          'Quarter Begin Date':'quarter_begin_date','Latitude':'latitude', 
                                                          'Longitude':'longitude', 
                                                          'Location':'location', 'NDC':'national_drug_code'})
    
    
        
cleaned_state_dud_df.head()

,utilization_type,state,labeler_code,product_code,package_size,year,quarter,product_name,units_reimbursed,med_data_suppresion,no_of_prescriptions,total_amt_reimbursed,medicaid_amt_reimbursed,non_medicaid_amt_reimbursed,quarter_begin,quarter_begin_date,latitude,longitude,location,national_drug_code
0,FFSU,WI,17478,214,20.0,2010,3,ATROPINE C,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,37.7680,-78.2057,"(37.768, -78.2057)",17478021420
1,FFSU,NH,409,1165,2.0,2010,3,BUPIVACAIN,NaN,True,NaN,NaN,NaN,NaN,1-Jul,7/1/2010,47.5362,-99.7930,"(47.5362, -99.793)",409116502
2,FFSU,XX,338,629,4.0,2010,4,TRAVASOL 1,164627000.0,False,29.0,27541.1,27541.10,0.00,1-Oct,10/1/2010,NaN,NaN,NaN,338062904
3,FFSU,TN,68382,99,6.0,2010,4,PAROXETINE,11157.5,False,296.0,3131.1,3105.18,25.92,1-Oct,10/1/2010,41.6772,-71.5101,"(41.6772, -71.5101)",68382009906
4,FFSU,WY,472,911,45.0,2010,4,METRONIDAZ,NaN,True,NaN,NaN,NaN,NaN,1-Oct,10/1/2010,44.0407,-72.7093,"(44.0407, -72.7093)",472091145

In [70]:
#View cleaned dataframe

cleaned_state_dud_df.columns

Index(['utilization_type', 'state', 'labeler_code', 'product_code',
       'package_size', 'year', 'quarter', 'product_name', 'units_reimbursed',
       'med_data_suppresion', 'no_of_prescriptions', 'total_amt_reimbursed',
       'medicaid_amt_reimbursed', 'non_medicaid_amt_reimbursed',
       'quarter_begin', 'quarter_begin_date', 'latitude', 'longitude',
       'location', 'national_drug_code'],
      dtype='object')

### Below are our attempts at fixing an issue with our second csv file.

### A column had an unwanted value and thus the file couldn't load onto our datawarehouse.

### Had to fix the original csv file. It worked!

In [71]:
#cleaned_state_dud_df = cleaned_state_dud_df[cleaned_state_dud_df.national_drug_code != 00469-6501-]
#cleaned_state_dud_df[cleaned_state_dud_df['national_drug_code'].apply(lambda x: str(x).isdigit())]
#df[df['entrytype'].apply(lambda x: str(x).isdigit())]

In [72]:
#cleaned_state_dud_df.national_drug_code.str.replace('-', '')

In [73]:
#df.state_bottle_retail.apply(lambda x: x.replace('$',''))

### Initially couldn't connect

### Solution: pip install psycopg2

In [74]:
#pip install psycopg2
#rds_connection_string = "postgres:postgres@localhost:5432/ETL-Project"
#engine = create_engine(f'postgresql://{rds_connection_string}')


rds_connection_string = "postgres:5Bottlesof#rum@localhost:5432/ETL-Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

#create a config file to store pw

In [75]:
#Confirmation that connection worked

engine.table_names()

['hospital_info', 'drug_utilization_data']

## Loaded up the cleaned dataframes onto postgres

In [76]:
cleaned_hosp_gen_info_df.to_sql(name='hospital_info', con=engine, if_exists='append', index=False)

In [77]:
cleaned_state_dud_df.to_sql(name='drug_utilization_data', con=engine, if_exists='append', index=False)

## Perfomed Queries

In [78]:
pd.read_sql_query('select * from hospital_info', con=engine).head()

,id,facility_id,facility_name,address,city,state,zip_code,county_name,phone_no,hosp_type,hosp_owner,emergency_srvc,ehr_compartibility,hosp_overall_rating,hosp_overall_rating_footnote
0,1,30084,CHINLE COMPREHENSIVE HEALTH CARE FACILITY,"US HWY 191, HOSPITAL ROAD",CHINLE,AZ,86503,APACHE,(928) 674-7001,Acute Care Hospitals,Government - Federal,True,True,4,17.0
1,2,231314,MCKENZIE HEALTH SYSTEM,120 N DELAWARE STREET,SANDUSKY,MI,48471,SANILAC,(810) 648-3770,Critical Access Hospitals,Voluntary non-profit - Private,True,True,Not Available,16.0
2,3,370225,SUMMIT MEDICAL CENTER,1800 SOUTH RENAISSANCE BOULEVARD,EDMOND,OK,73013,OKLAHOMA,(405) 359-2400,Acute Care Hospitals,Physician,True,True,Not Available,16.0
3,4,390325,OSS ORTHOPAEDIC HOSPITAL,1861 POWDER MILL RD,YORK,PA,17402,YORK,(717) 718-2000,Acute Care Hospitals,Proprietary,False,True,Not Available,16.0
4,5,161333,STORY COUNTY HOSPITAL,640 SOUTH 19TH STREET,NEVADA,IA,50201,STORY,(515) 382-2111,Critical Access Hospitals,Government - Local,True,True,Not Available,16.0

In [79]:
pd.read_sql_query('select * from drug_utilization_data', con=engine).head()

,id,utilization_type,state,labeler_code,product_code,package_size,year,quarter,product_name,units_reimbursed,...,no_of_prescriptions,total_amt_reimbursed,medicaid_amt_reimbursed,non_medicaid_amt_reimbursed,quarter_begin,quarter_begin_date,latitude,longitude,location,national_drug_code
0,1,FFSU,WI,17478,214,20.0,2010,3,ATROPINE C,NaN,...,NaN,None,None,None,1-Jul,2010-07-01,37.7680,-78.2057,"(37.768, -78.2057)",1.747802e+10
1,2,FFSU,NH,409,1165,2.0,2010,3,BUPIVACAIN,NaN,...,NaN,None,None,None,1-Jul,2010-07-01,47.5362,-99.7930,"(47.5362, -99.793)",4.091165e+08
2,3,FFSU,XX,338,629,4.0,2010,4,TRAVASOL 1,164627000.0,...,29.0,"$27,541.10","$27,541.10",$0.00,1-Oct,2010-10-01,NaN,NaN,None,3.380629e+08
3,4,FFSU,TN,68382,99,6.0,2010,4,PAROXETINE,11157.5,...,296.0,"$3,131.10","$3,105.18",$25.92,1-Oct,2010-10-01,41.6772,-71.5101,"(41.6772, -71.5101)",6.838201e+10
4,5,FFSU,WY,472,911,45.0,2010,4,METRONIDAZ,NaN,...,NaN,None,None,None,1-Oct,2010-10-01,44.0407,-72.7093,"(44.0407, -72.7093)",4.720911e+08